body {
    background-color: #121212;
    color: #ffffff;
}

ul>li:hover {
    text-decoration: line-through;
    cursor: pointer;
}

.btn-def {
    background-color: #333333;
    color: #ffffff
}
.btn-def:hover {
    background-color: #333333;
    color: #ffffff
}